@import "tailwindcss";
@import "./tailwind.css";

@theme {
  --font-sans: "Gilroy-Medium", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  @apply bg-white dark:bg-gray-900;
  font-family: "Gilroy-Medium", sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
